<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Users list</title>
    <link rel="stylesheet" href="app/css/app.css"/>
    <script src="app/bower_components/modernizr/modernizr.js"></script>
</head>
<body>

<h3>Users list</h3>

<div ng-controller="PeopleCtrl">
    <table ng-table="tableParams" show-filter="true" class="table">
        <tr ng-repeat="user in $data">
            <td data-title="'Name'" filter="{ 'name' : 'text' }" sortable="'name'">
                {{user.name}}
            </td>
            <td data-title="'Sex'" sortable="'sex'">
                {{user.sex}}
            </td>
            <td data-title="'Age'" sortable="'age'">
                {{user.age}}
            </td>
        </tr>
    </table>
</div>


<!--Load JS-->
<script type="text/javascript" data-main="app/js/main" src="app/bower_components/requirejs/require.js"></script>

<!--build:livereload-->
<script type="text/javascript">document.write('<script src="' + (location.protocol || 'http:') + '//' + (location.hostname || 'localhost') + ':35729/livereload.js?snipver=1" type="text/javascript"><\/script>')</script>
<!--endbuild-->
</body>
</html>
